let mapleader=" "

""" Common
set relativenumber
set number
set showmode
set clipboard+=unnamed
set scrolloff=5

""" Idea
set ideajoin
set ideastrictmode

""" Searching
set incsearch
set hlsearch
set smartcase
set ignorecase
set visualbell

""" Plugins
set commentary
set surround
set highlightedyank
let g:highlightedyank_highlight_color = "rgba(255, 142, 0, 90)"

""" Remaps
nmap <leader>rf <Action>(RenameFile)

nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)

nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)

vmap <S-J> <Action>(MoveLineDown)
vmap <S-K> <Action>(MoveLineUp)
